---
import SearchCityInput from "./SearchCityInput.astro";
import ForecastInfoAside from "./ForecastInfoAside.astro";
import CityInfoAside from "./CityInfoAside.astro";

const { cityName, currentTemp, minTemp, maxTemp, humidity, windSpeed } =
	Astro.props;
---

<SearchCityInput />
<button
	id="btn-location"
	class="mt-5 rounded-xl bg-white/5 backdrop-blur-2xl p-3 text-sm text-white/60 hover:bg-white/10 hover:text-white/80 transition-all duration-300"
>
	Share location
</button>
<ForecastInfoAside
	currentTemp={currentTemp}
	minTemp={minTemp}
	maxTemp={maxTemp}
	humidity={humidity}
	windSpeed={windSpeed}
/>
<CityInfoAside cityName={cityName} />

<script>
	const geolocalization = navigator.geolocation;

	const position = (pos: any) => {
		console.log("User Position:", pos);
	};

	const err = (err: any) => {
		console.error("Error:", err);
	};

	const options = {
		maximumAge: 0,
		timeout: 10000,
		enableHighAccuracy: true,
	};

	// Ocultar botón si ya se aceptó la ubicación
	document.addEventListener("DOMContentLoaded", () => {
		const btnLocation = document.getElementById("btn-location");
		if (localStorage.getItem("locationGranted") === "true" && btnLocation) {
			btnLocation.style.display = "none";
		}
	});

	document.getElementById("btn-location")?.addEventListener("click", () => {
		const getLocation = confirm(
			"Are you sure you want to share your location?",
		);
		if (getLocation) {
			geolocalization.getCurrentPosition(position, err, options);
			const btnLocation = document.getElementById("btn-location");
			if (btnLocation) {
				// Guardar en localStorage
				localStorage.setItem("locationGranted", "true");
				btnLocation.style.visibility = "hidden";
			}
		}
	});
</script>
