---
import ForecastDayCard from "./ForecastDayCard.astro";
import HeaderMain from "./HeaderMain.astro";

const { formattedLocalTime, briefDescription, forecast } = Astro.props;
---

<HeaderMain />
<div class="flex flex-col gap-14">
	<div>
		<p>Weather Forecast</p>
		<h1 class="text-5xl max-w-64">{briefDescription}</h1>
	</div>

	<div class="flex flex-row justify-start items-center gap-2 text-sm">
		<i class="fa-solid fa-cloud"></i>
		<p>{formattedLocalTime}</p>
	</div>

	<div class="flex flex-col gap-5">
		<p>5 - day Forecast</p>
		<div
			class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4"
		>
			{
				forecast.map((day: any) => (
					<ForecastDayCard day={day.day} high={day.high} low={day.low} />
				))
			}
			<!-- <ForecastDayCard day="Saturday" high="10" low="20" />
			<ForecastDayCard day="Saturday" high="10" low="20" />
			<ForecastDayCard day="Saturday" high="10" low="20" />
			<ForecastDayCard day="Saturday" high="10" low="20" />
			<ForecastDayCard day="Saturday" high="10" low="20" /> -->
		</div>
	</div>
</div>
